


/* Nav e Menu  */

@media screen and (max-width: 768px) {
    .menu-toggle {
    display: block;
    }
    
    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--header-bg);
    width: 100%;
    text-align: center;
    padding: 10px;
    }
    
    .nav-links.active {
    display: flex;
    }
    
    .nav-links li {
    margin: 10px 0;
    }
    }
    