/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    padding: 50px;
    background-color: #222;
}

.destaque {
    color: blue;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h2 {
    color: #FFD700;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.imgcub {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: fadeIn 1.5s ease;
}
.imgquad {
  
        width: 100px;
        height: 100px;
        border-radius: 5px;
        animation: fadeIn 1.5s ease;

}

